<div class="page-container"> 
    <h1>Add Movie</h1>

    <h2>Input movie info:</h3>
    {{!-- Elokuvakortti ja tiedot --}}
    <div class="input-form">
            <form action="/api/movies" method="POST" enctype="multipart/form-data">
                <label>
                    Movie title:
                    <input type="text" name="title" value="{{movie.title}}">
                </label>
                <br>

                <label>
                    Director:
                    <input type="text" name="director" value="{{movie.director}}">
                </label>
                <br>

                <label>
                    Release date:
                    <input type="date" name="releaseDate" value="{{movie.releaseDate}}">
                </label>
                <br>

                <label>
                    Genres:
                    <input type="text" name="genres" value="{{movie.genres}}">
                </label>
                <br>

                <label> 
                    Rating :
                    <input type="double" name="rating" value="{{movie.rating}}">
                </label>
                <br>

                <label>
                    Watched:
                    <input type="checkbox" name="watched" {{#if movie.watched}}checked{{/if}}>
                </label>
                <br>
                
                <label >
                    Image:
                    <input type="file" name="image">
                </label>

                <button type="submit">Save</button>
            </form>
    </div>
</div>