<div class="page-container">

    {{#if user}}
        <h1>Welcome to admin page</h1>
        <h2>All movies</h2>

        <label name="Add a new movie">
            <a href="/movies/add-movie/">
                    <button>Add new movie</button>
            </a>
        </label>

        <div class="movie-container">
        {{#each movies}}
            <div class="movie-card">
            <h2>{{this.title}}</h2>
            <p><strong>Director:</strong> {{this.director}}</p>
            <p><strong>Release date:</strong> {{this.releaseDate}}</p>
            <p><strong>Genres:</strong> {{this.genres}}</p>
            <p><strong>Rating:</strong> {{this.rating}}</p>
            <p><strong>Watched:</strong> {{this.watched}}</p>
            <img src="{{this.image}}" alt="{{this.alt}}" width="100%">
            <a href="/movies/edit/{{this._id}}" class="btn">Edit Movie</a>       
            <form action="/movies/delete/{{this._id}}" method="POST">
                <button type="button" onclick="confirmDelete(this)">Delete</button>
            </form>
            </div>
        {{/each}}
    </div>

    {{else}}
        <script>
            window.location.href = "/login";
        </script>
    {{/if}}
</div>

<script src="/script.js"></script>