<div class="page-container">
    <h1>Edit Movie</h1>

    {{!-- Elokuvakortti ja tiedot --}}
        <div class="movie-info">
            <h2>Current info</h2>
            <p>{{movie.title}}</p>
            <p>{{movie.director}}</p>
            <p>{{movie.releaseDate}}</p>
            <p>{{movie.genres}}</p>
            <p>{{movie.rating}}</p>
            <p>{{movie.watched}}</p>
        </div>

    <h2>Change the info:</h2>
        <div class="input-form">
    {{!-- Form tietojen muokkaamiseen / enc jotta kuva saadaan lisättyä DB--}}
            <form action="/movies/edit/{{movie._id}}" method="POST" enctype="multipart/form-data">
                <label for="movie title">Title</label>
                <input type="text" name="title" value="{{movie.title}}">

                <label for="director">Director</label>
                <input type="text" name="director" value="{{movie.director}}">

                <label for="release date">Release date</label>
                <input type="date" name="releaseDate" value="{{movie.releaseDate}}">
                <label for="genres">Genres:</label>
                <select name="genres" id="genres" value="{{movie.genres}}">
                    <option value="Fantasy">Fantasy</option>
                    <option value="Action">Action</option>
                    <option value="Sci-Fi">Sci-Fi</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Animation">Animation</option>
                </select>

                <label for="rating">Rating</label>
                <input type="double" name="rating" value="{{movie.rating}}">

                <label for="image">Add image</label>
                <input type="file" name="image">

                <label>
                    Watched:
                    <input type="checkbox" name="watched" {{#if movie.watched}}checked{{/if}}>
                </label>

                <button type="submit">Save</button>
            </form>
        </div>
</div>