<div class=movie-details>
<h1>{{movie.title}}</h1>

<img src="{{movie.image}}" alt="{{movie.alt}}" width="300">

<p> {{movie.description}}</p>
<p><strong>Director:</strong> {{movie.director}}</p>
<p><strong>Release date:</strong> {{movie.releaseDate}}</p>
<p><strong>Rating:</strong> {{movie.rating}}</p>
<p><strong>Watched:</strong> {{movie.watched}}</p>
<p><strong>Genres:</strong> {{movie.genres}}</p>
<a href="/movies-page">Back to movies</a>
</div>