<h1>My movie Collection</h1>

{{!-- Search movie kenttä --}}
<form action="/search" method="POST">
<label for="searchInput" class="visuallyhidden">Search:</label>
    <input type="text"name="key" id="searchInput" placeholder="Search movies...">
    <button id="searchButton">Search</button>
</form>
{{#if key}}
    <h1>Search results "{{key}}" </h1>
{{/if}}

<label name="Add a new movie">
    <a href="/movies/add-movie/">
            <button>Add new movie</button>
    </a>
</label>

<div class="movie-container">
{{#each movies}}
    <div class="movie-card">
    <h2>{{this.title}}</h2>
    <p><strong>Director:</strong> {{this.director}}</p>
    <p><strong>Release date:</strong> {{this.releaseDate}}</p>
    <p><strong>Genres:</strong> {{this.genres}}</p>
    <p><strong>Rating:</strong> {{this.rating}}</p>
    <p><strong>Watched:</strong> {{this.watched}}</p>
    <a href="/movies/edit/{{this._id}}">
            <button>Edit Movie</button>
        </a>
    <form action="/movies/delete/{{this._id}}" method="GET">
        <button type="submit">Delete</button>
    </form>
    </div>
{{/each}}
</div>



{{#if movieToRemove}}
    <h2>{{{movieToRemove.title}}} Deleted</h2>
{{/if}}