<div class="page-container">
    
    <h1>All Movies</h1>
    <p>Browse all available movies in our collection. Search for movies by title or genre.</p>


    {{!-- Hae kategorialla --}}
    <div class="search-container">
        <h2>Search movies by genre</h2>
        <form action="/movies/search/genre/" method="POST">
            <label for="genre-list">Select genre</label>
            <select name="genre" id="genre-list">
                <option value="Fantasy">Fantasy</option>
                <option value="Action">Action</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Adventure">Adventure</option>
                <option value="Animation">Animation</option>
            </select>
            <button class="submit">Submit</button>
        </form>
    </div>
    {{#if genres}}
        <h2>Search results "{{genres}}" </h2>
    {{/if}}
    {{#if key}}
        <h2>Search results "{{key}}" </h2>
    {{/if}}

    <div class="movie-container">
    {{#each movies}}
        <div class="movie-card">
            <a href="/movies/{{this._id}}" class="movie-link">
                    <h3>{{this.title}} </h3>
                    <img src="{{this.image}}" alt="{{this.alt}}" width="100%">
                </a>    
        {{!--- <a href="/movies/edit/{{this._id}}">
                <button>Edit Movie</button>
            </a>
        <form action="/movies/delete/{{this._id}}" method="POST">
            <button type="button" onclick="confirmDelete(this)">Delete</button>
        </form> --}}
        </div>
    {{/each}}
    </div> 
</div>

<script src="/script.js"></script>